
    <div class="main-content">
        <!--about user-->
        <div class="about">
            <h2 class="about-position">Junior Front-End Developer(HTML5, CSS3, JS)</h2>
            
            <h1 class="about-name">Oleksii Oleksandrov</h1>
            
            <p class="about-description">I am a beginner in Front-End development. I have the skills to work with HTML5, CSS3, JavaScript, and start studying NodeJS, and React. As well I have experience in creating adaptive layouts and using adaptive graphics in projects. I learn quickly and fast in finding the necessary information, I have an analytical mindset. I blend in well with a new team and am always happy to meet new people.</p>
     