<!--Projects-->
<div class="projects">
    <h3 class="title">Projects</h3>
    <ul class="projects-list">
        <li class="projects-item">
            <span class="project"><a href="https://oleksandrov1995.github.io/goit-markup-hw-08/index.html" class="project-link" target = "_ blank">
                WebStudio</a> <a href="https://github.com/Oleksandrov1995/goit-markup-hw-08" class="project-link" target = "_ blank">
                    GitHub-repository</a>  <span class="project-bracket">  (</span> HTML5, SASS, JavaScript <span class="project-bracket">)</span> </span>
                   <div class="about-project">
                    <p>A website of WebStudio company. Responsive design, transform effects, modal windows. </p>
                    <p>  Role: developer </p>
                    <p>  Individual project. </p>
                </div>
          
        </li>
        <li class="projects-item">
            <span class="project"><a href="https://badyanch.github.io/MIMIHO/" class="project-link" target = "_ blank">
                MIMIHO</a> <a href="https://github.com/badyanch/MIMIHO" class="project-link" target = "_ blank">
                    GitHub-repository</a> <span class="project-bracket">(</span> HTML5, SASS, Parcel, JavaScript  <span class="project-bracket">)</span> </span>
                    <div class="about-project">
                        <p>A website of the hotel and restaurant complex. Adaptive design, animations, modal windows, and burger menu for ordering. </p>
                        <p>  Role: developer </p>
                      </div>
        </li>
        <li class="projects-item">
            <span class="project"><a href="https://alexandrtarabanko.github.io/Bookshelf/" class="project-link" target = "_ blank">
                Bookshelf</a><a href="https://github.com/AlexandrTarabanko/Bookshelf" class="project-link" target = "_ blank">
                    GitHub-repository</a><span class="project-bracket">(</span> HTML5, SASS, Parcel, JavaScript  <span class="project-bracket">)</span> </span>
                    <div class="about-project">
                        <p>Website for quick book selection. Responsive design, use of backend and web storage, pagination. </p>
                        <p>  Role: developer </p>
                      </div>
        </li>
        <li class="projects-item">
            <span class="project"><a href="https://melnykovsv.github.io/GooseTrack/" class="project-link" target = "_ blank">
                GooseTrack</a><a href="https://github.com/MelnykovSV/GooseTrack" class="project-link" target = "_ blank">
                    GitHub-repository</a><span class="project-bracket">(</span> HTML5, SASS, Parcel, JavaScript, React, NodeJS  <span class="project-bracket">)</span> </span>
                    <div class="about-project">
                        <p>A website for planning and monitoring the execution of your tasks. Responsive design, use of backend. </p>
                        <p>  Role: Back-end developer </p>
                      </div>
        </li>
    </ul>
</div>