<!--Projects-->
<div class="projects">
    <h3 class="title">Projects</h3>
    <ul class="projects-list">
        <li class="projects-item">
            <span class="project"><a href="https://oleksandrov1995.github.io/goit-markup-hw-08/index.html" class="project-link" target = "_ blank">
                WebStudio</a>
                ..... <span class="project-bracket">[</span> HTML5, CSS3, SASS, Parcel, JavaScript <span class="project-bracket">]</span> </span>
          
        </li>
        <li class="projects-item">
            <span class="project"><a href="https://badyanch.github.io/MIMIHO/" class="project-link" target = "_ blank">
                MIMIHO</a>
                ............ <span class="project-bracket">[</span> HTML5, CSS3, SASS, Parcel, JavaScript  <span class="project-bracket">]</span> </span>
            
        </li>
        <li class="projects-item">
            <span class="project"><a href="https://alexandrtarabanko.github.io/Bookshelf/" class="project-link" target = "_ blank">
                Bookshelf</a>
                ........ <span class="project-bracket">[</span> HTML5, CSS3, SASS, Parcel, JavaScript  <span class="project-bracket">]</span> </span>
            
        </li>
    </ul>
</div>