
 <aside class="sidebar">
    <img src="img/1665820495384.png" alt="user photo" class="photo">

    <div class="contacts">
        <h3 class="sidebar-title">Contacts</h3>
       <ul class="contacts-list">
           <li class="contact-type">
                <a href="tel:+420777549132" class="contact-link tel-mail"> <svg class="contacts-icon" width = "25" height="25" >
                    <use href="./img/symbol-defs.svg#phone"></use>
                  </svg> +420 777 549 132</a>
            </li>
            <li class="contact-type">
              <a href="mailto:olexandrov1995@gmail.com" class="contact-link tel-mail"> <svg class="contacts-icon" width = "25" height="25">
                <use href="./img/symbol-defs.svg#mail"></use>
              </svg>olexandrov1995@gmail.com</a>
        </li>
        <li class="contact-type">
            <a href="https://www.linkedin.com/in/oleksii-oleksandrov/" class="contact-link"  target = "_ blank"> <svg class="contacts-icon" width = "25" height="25">
                <use href="./img/symbol-defs.svg#linkedin"></use>
              </svg>Linkedin</a>
      </li>
      <li class="contact-type">
        <a href="https://t.me/oleksiioleksandrov" class="contact-link"  target = "_ blank"> <svg class="contacts-icon" width = "25" height="25">
            <use href="./img/symbol-defs.svg#telegram"></use>
          </svg>Telegram</a>
  </li>
  <li class="contact-type">
    <a href="https://wa.me/420777549132" class="contact-link"  target = "_ blank"> <svg class="contacts-icon" width = "25" height="25">
        <use href="./img/symbol-defs.svg#whatsapp"></use>
      </svg>WhatsApp</a>
</li>
        </ul>
    </div>
 
    <div class="tech-skills">
        <h3 class="sidebar-title">Tech Skills</h3>
        <ul class="tech-skills-list">
            <li class="tech-skills-item"> <span class="tech-skills-text">HTML5</span> </li>
            <li class="tech-skills-item"> <span class="tech-skills-text">CSS3</span> </li>
            <li class="tech-skills-item"> <span class="tech-skills-text">SASS</span> </li>
            <li class="tech-skills-item"> <span class="tech-skills-text">WebPack</span> </li>
            <li class="tech-skills-item"> <span class="tech-skills-text">JavaScript</span> </li>
            <li class="tech-skills-item"> <span class="tech-skills-text">GitHub</span> </li>
            <li class="tech-skills-item"> <span class="tech-skills-text">Node.js</span> </li>
        </ul>
    </div>
  
    <div class="soft-skills">
        <h3 class="sidebar-title">Soft skills</h3>
        <ul class="soft-skills-list">
            <li class="soft-skills-item"> <span class="soft-skills-text">Attention to detail</span> </li>
            <li class="soft-skills-item"> <span class="soft-skills-text">Good communication</span> </li>
            <li class="soft-skills-item"> <span class="soft-skills-text">Adaptability</span> </li>
            <li class="soft-skills-item"> <span class="soft-skills-text">Teamwork</span> </li>
            <li class="soft-skills-item"> <span class="soft-skills-text">Time management</span> </li>
        </ul>
    </div>
    <div class="languages">
    <h3 class="sidebar-title">Languages</h3>
    <ul class="soft-skills-list">
        <li class="soft-skills-item"> <span class="soft-skills-text">
            Ukrainian - Native</span> </li>
                <li class="soft-skills-item"> <span class="soft-skills-text">
            Czech - Intermediate</span> </li>
            <li class="soft-skills-item"> <span class="soft-skills-text">
                English -  Pre-Intermediate </span> </li>
        <li class="soft-skills-item"> <span class="soft-skills-text">
            Russian -  Proficiency </span> </li>
    </ul>
</div>
        </aside>
       </div>