<div class="work">
  <h3 class="title">Work Experience</h3>

  <div class="work-main">
    <h4 class="work-position">
      Warehouse Worker
      <span class="organization"> Sirowa Czech & Slovakia </span>
    </h4>
    <p class="period">
      November 2022 - up to now <span class="line">|</span> Czech Republic
    </p>
    <ul class="work-list">
      <li class="work-list-item">teamwork</li>
      <li class="work-list-item">learning the Czech language</li>
      <li class="work-list-item">adaptability and flexibility</li>
    </ul>
  </div>

  <div class="work-main">
    <h4 class="work-position">
      Warehouse Worker <span class="organization"> SPORTISIMO </span>
    </h4>
    <p class="period">
      March 2020 - October 2022 <span class="line">|</span> Czech Republic
    </p>
    <ul class="work-list">
      <li class="work-list-item">teamwork</li>
      <li class="work-list-item">learning the Czech language</li>
      <li class="work-list-item">adaptability and flexibility</li>
    </ul>
  </div>

  <div class="work-main">
    <h4 class="work-position">
      Head of the Railway Station
      <span class="organization"> Ukrzaliznytsia </span>
    </h4>
    <p class="period">
      March 2018 - September 2019 <span class="line">|</span> Ukraine
    </p>
    <ul class="work-list">
      <li class="work-list-item">analytics & automation</li>
      <li class="work-list-item">communication</li>
      <li class="work-list-item">task planning and monitoring</li>
      <li class="work-list-item">сontrol of train traffic in real time</li>
    </ul>
  </div>
</div>
