.about{
    margin-bottom: 40px;
}
.about-position{
    font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
margin-bottom: 20px;
}
.about-name{
    font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 55px;
color: #000000;
margin-bottom: 25px;
}
.about-description{
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #595959;
width: 400px;
}