
.projects{
    margin-bottom: 50px;
}

.title{
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
color: #000000;
margin-bottom: 10px;
}
.projects-list{
    padding: 0;
margin-left: 35px;
}
.projects-item{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.project,
.project-link{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #595959;
}
.project-link{
    margin-left: 10px;
}
.project-bracket{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #000000;
}