
.work{
    margin-bottom: 45px;
    }
    .work-position{
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #000000;
margin-bottom: 10px;
 }
 .organization{
 font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #FB6D3A;
 }
 .work-list,
 .education-list{
    padding: 0;
    margin-left: 15px;
 }
 .work-list-item{
    font-style: normal;
   
    font-size: 14px;
    line-height: 17px;
    color: #000000;
 }
 .work-main{margin-left: 20px;}